{% extends 'padre.html' %}

{% block contenido  %}
     <h5>Elegí tu pedido de cocina!</h5>


  
     
    
    <section  class="lista-cocina">
      {% for cocina in lista_cocina  %}
          <div class="card" style="width: 18rem;">
            <img src="https://th.bing.com/th/id/OIP.a2KZcoYPmmUPgg6_6yigtgHaE8?w=278&h=185&c=7&r=0&o=5&dpr=1.3&pid=1.7" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{cocina.nombre}}  ${{cocina.precio}}</h5>
            <p class="card-text">{{cocina.descripcion}}.</p>
            <a href="{% url 'PedidoCocina' %}" class="btn btn-primary"> Pedir! </a>
          </div>
          </div>
          
            
      {% endfor %}
   </section>


   {% endblock contenido %}     