{% extends 'padre.html' %}

{% block contenido  %}
    <ul>
        
        {% for listado in pasteleria  %}
         <li>
             <a href="{% url 'DetallePasteleria' listado.id %}"> {{listado}} </a>          
         </li>
          <div style="display: flex; column-gap: 5px;">
            <button>
              <a href="{% url 'EliminaPasteleria' listado.id %}"> Eliminar </a>
         </button>
            <button>
                 <a href="{% url 'ActualizarPasteleria' listado.id %}"> Editar </a>
            </button>
            
          </div>
            
        {% endfor %}
    </ul>
    
    
    
{% endblock contenido %}  